[Unit]
Description=Raspberry Dashboard
After=multi-user.target

[Service]
Type=simple
User=morfredus
WorkingDirectory=/home/morfredus/Codage/Python/RaspberryDashboard
ExecStart=/usr/bin/python3 /home/morfredus/Codage/Python/RaspberryDashboard/dashboard.py
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target